.banner {
  min-height: 703px;
  position: relative;
  background-color: #a7802c;
  background-size: cover;

  @media(max-width: 1279px) {
    min-height: 400px;
  }
}

.banner img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.banner__title {
  margin: 0 0 50px;
  text-align: center;
  font-size: 74px;
  letter-spacing: 0.10em;
  line-height: 65px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Playfair Display";
  filter: drop-shadow(0.209px 5.996px 3.5px rgba(0,0,0,0.26));

  @media(max-width: 1279px) {
    font-size: 60px;
  }

  @media(max-width: 767px) {
    font-size: 50px;
  }
}

.banner__description {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  filter: drop-shadow(0.209px 5.996px 3.5px rgba(0,0,0,0.26));
  margin: 0 0 38px;

  @media(max-width: 1279px) {
    font-size: 20px;
    line-height: 20px;
  }

  @media(max-width: 767) {
    font-size: 18px;
    line-height: 18px;
  }
}

.banner__btn {
  margin: 0;
  padding: 20px;
  border: 2px solid #ffffff;
  background-color: transparent;
  font-size: 20px;
  line-height: 15px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  width: 258px;
  height: 58px;
  border-radius: 29px;
  z-index: 1;
  cursor: pointer;
}

.banner .banner__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 374px 0 93px;

  @media(max-width: 1279px) {
    padding: 250px 20px 60px;
  }

  @media(max-width: 767px) {
    padding: 150px 10px 50px;
  }
}
