.footer {
  padding: 0;
  color: #ffffff;
  background-color: #454545;
}

.footer__title {
  margin: 0;
  font-size: 36px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Playfair Display", sans-serif;
}

.footer__wrapper {
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
}
