.footer__top {
  padding: 109px 0 93px;
  color: #ffffff;
  background-color: #454545;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;

  &--bottom {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__title {
  margin: 0 0 70px;
  font-size: 36px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Playfair Display", sans-serif;
}

.footer__wrapper {
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 820px;

  a {
    color: #ffffff;
  }
}

.footer__list {
  display: flex;
  max-width: 184px;
  flex-wrap: wrap;
}

.footer__item {
  margin-right: 13px;
  margin-bottom: 13px;
}

.footer__link {
  border: 1px solid #ffffff;
  border-radius: 100%;
  width: 28px;
  display: flex;
  height: 29px;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;

  &--whatsapp {
    background-image: url("../img/icon/wh.png");

    &:hover {
      background-image: url("../img/icon/wh-2.png");
    }
  }

  &--instagram {
    background-image: url("../img/icon/inst.png");

    &:hover {
      background-image: url("../img/icon/inst-2.png");
    }
  }

  &--vk {
    background-image: url("../img/icon/vk.png");

    &:hover {
      background-image: url("../img/icon/vk-2.png");
    }
  }

  &--tg {
    background-image: url("../img/icon/tg.png");

    &:hover {
      background-image: url("../img/icon/tg-2.png");
    }
  }

  &:hover {
    background-color: #ffffff;
  }
}

.footer__bottom {
  background-color: #000000;
  color: #ffffff;

  a {
    color: #ffffff;
  }
}
