.header {
  padding: 12px 0 10px;
  position: fixed;
  z-index: 10;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .2);
}

.header__container {
  display: flex;
  align-items: center;
  padding: 0 39px 0 46px;

  @media(max-width: 1279px) {
    justify-content: flex-start;
  }
}

.header__logo {
  margin-right: 6%;

  img {
    max-width: 121px;
  }
}
