.nav__list {
  display: flex;
  gap: 28px;

  @media (max-width: 1279px) {
    display: none;
  }
}

.nav__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  color: #4d4d4d;
}

.nav__phone {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 6px;
  margin-left: auto;
  margin-right: 37px;

  @media (max-width: 1279px) {
    display: none;
  }
}

.nav__phone a {
  font-size: 18px;
  line-height: 24px;
  color: #4d4d4d;
  font-weight: 900;
  font-family: "Roboto";
  text-decoration: none;
}
