.principles {
  padding: 113px 0 82px;
  background-size: cover;
  color: #ffffff;
  background-color: #503e2763;
  min-height: 778px;
  background-image: url("../img/back-2.jpg");
}

.principles__container {
  padding: 0 50px;
}

.principles__title {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 27px;
  font-family: "Playfair Display", sans-serif;
  text-align: center;
  margin: 0 0 74px;
  font-weight: 400;
}

.principles__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 64px;
  row-gap: 70px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (max-width: 1150px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }

  li {
    position: relative;
    padding-left: 50px;

    @media (max-width: 768px) {
      padding-left: 35px;
    }
  }

  h3 {
    font-size: 24px;
    letter-spacing: 0.03em;
    line-height: 28px;
    margin: 0 0 15px;

    &::before {
      content: "";
      width: 35px;
      height: 36px;
      background-image: url("../../img/svg/arrow.svg");
      position: absolute;
      left: 0;
      top: -8px;
    }
  }

  p {
    font-size: 16px;
    line-height: 18px;
    margin: 0;


  }
}
