.services {
  padding: 128px 0 103px;
}

.services__container {
  padding: 0 48px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__title {
  font-weight: 400;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Playfair Display", sans-serif;
  color: #000000;
  margin: 0 0 77px;
}

.services__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  row-gap: 28px;
  padding: 0;
  list-style-type: none;
  margin: 0 0 80px;

  li {
    background-color: #827064;
    color: #fffffF;
    max-width: 639px;
  }

  article {
    display: grid;
    grid-template-columns: 55% 1fr;
    height: 100%;
  }

  h3 {
    margin: 0 0 21px;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  p {
    font-size: 16px;
    line-height: 18px;
  }

  img {
    height: 100%;
    object-fit: cover;
  }
}

.services__inner {
  padding: 33px 30px 0 22px;
}

.services__button {
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  border-radius: 28px;
  border: 2px solid #857367;
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 212px;
  font-family: "Roboto", sans-serif;
  height: 50px;
  cursor: pointer;
}
