.themes {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 104px;
  background-color: #1aa2ac;
  background-image: url("../../img/back.jpg");
}

.themes__container {
  padding: 0 50px;
}

.themes__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0 0 74px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Playfair Display";
  text-align: center;
  font-weight: 400;

  @media (max-width: 768px) {
    font-size: 30px;
    line-height: 30px;
  }
}

.themes__subtitle {
  margin: 0 0 29px;
  font-size: 24px;
  letter-spacing: 0.02em;
  line-height: 24px;
  color: #4d4d4d;
  font-weight: 900;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.themes__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  counter-reset: section;

  @media (max-width: 1150px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.themes__item {
  padding: 37px 20px 33px;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  min-width: 244px;

  @media (max-width: 768px) {
    padding: 20px 10px;
  }

  &:first-child {
    grid-column: 1 / 5;
    padding: 37px 19px 42px;

    @media (max-width: 1150px) {
      grid-column: 1 / 3;
    }

    @media (max-width: 768px) {
      grid-column: 1 / 2;
      padding: 20px 10px;
    }

    .themes__sublist {
      column-count: 2;
      padding: 0 50px;

      @media(max-width: 768px) {
        column-count: 1;
        padding: 0;
      }
    }

    &::after {
      bottom: 0px;
      right: 89px;
    }
  }

  &::after {
    content: counter(section);
    counter-increment: section;
    font-size: 325px;
    line-height: 260px;
    display: block;
    font-family: "Playfair Display";
    color: #f2f2f2;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
  }
}

.themes__subitem {
  font-size: 18px;
  position: relative;
  padding-left: 15px;
  margin-bottom: 10px;

  &::before {
    content: "";
    width: 6px;
    height: 6px;
    display: block;
    background-color: #4d4d4d;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 0;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }
}
