.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(100 * var(--vh, 1vh));

  .header,
  .footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 0 10px;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body.nav-open {
  overflow: hidden; // убирает скролл
}
