@use "./blocks/header";
@use "./blocks/nav";
@use "./blocks/social";
@use "./blocks/bannes";
@use "./blocks/about";
@use "./blocks/themes";
@use "./blocks/services";
@use "./blocks/principles";
@use "./blocks/diplomas";
@use "./blocks/footer";
@use "./blocks/experience";
@use "./blocks//overlay";
@use "../../node_modules/swiper/swiper";
@use "../../node_modules/swiper/modules/navigation";

// common
@use "./common/fonst";
@use "./common/global";
@use "./common/utils";
